<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.tijian.mapper.OrdersMapper">
    <select id="listAppointmentCalendar" parameterType="OrdersMapperDto" resultType="CalendarResponseDto">
        <foreach collection="list" item="dto" separator="union">
            select #{dto.date} ymd,count(*) existing from orders where orderDate=#{orderDate} and hpId=#{hpId}
        </foreach>
    </select>
</mapper>